<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}"
  </head>
  <body>
    <div class="play">
      <header>
        <p>The Webtech smash</p>
      </header>
      <div class="div_button_play">
        <button class="button_play" type="button" name="Play" onclick="window.location.href='{{ url_for('play')}}'">Play</button>
      </div>
    </div>

    <footer>
      <div class="div_button1">
         <button class="button1" type="button" name="map" onclick="window.location.href='{{ url_for( 'map')}}'">Map</button>
      </div>
      <div class="div_button2">
        <button class="button2" type="button" name="commande" >Commande</button>
      </div>
      <div class="div_button3">
        <button class="button3" type="button" name="pero" onclick="window.location.href='{{ url_for( 'characters')}}'">Skin</button>
      </div>
    </footer>
  </body>
</html>
