<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}"
  </head>
  <body>
    <div class="play">
      <header>
        <p>The Webtech smash</p>
      </header>
      <div class="div_button_play">
        <a href="play" target="_blank" > <button class="button_play" type="button" name="Play">Play</button> </a>
      </div>
    </div>

    <footer>
      <div class="div_button1">
        <a href="map" target="_blank" > <button class="button1" type="button" name="map">Map</button> </a>
      </div>
      <div class="div_button2">
        <a href="commands" target="_blank" > <button class="button2" type="button" name="commande">Commande</button> </a>
      </div>
      <div class="div_button3">
        <a href="characters" target="_blank" ><button class="button3" type="button" name="pero">Skin</button></a>
      </div>
    </footer>
  </body>
</html>
