<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
  </head>
  <body>
    <script type="text/javascript"
            src="{{ url_for('static', filename='map.js') }}"></script>
    <div class="play">
      <header>
        <p>Map choose</p>
      </header>
      <div class="list">
        <table style="width:100%">
          <tr>
            <th>Name</th>
            <th>number of use</th>
            <th>Image</th>
          </tr>
          {% for t in table %}
          <tr id={{t.id}}  onclick="getTrValues(this.id)">
            <td>{{ t.name }}</td>
            <td>{{ t.nbuse }}</td>
            <td><img width="100px" height="100px" src="{{ t.path }}" alt="image"></td>
          </tr>
          {% endfor %}

        </table>

      </div>
    </div>

    <footer>
      <div class="div_button1">
       <button class="button1" type="button" name="choose" onclick="changeMap()">Choose</button>
      </div>
      <div class="div_button2">
        <button class="button2" type="button" name="return" onclick="window.location.href='{{ url_for( 'home')}}'">Return</button>
      </div>
    </footer>
  </body>
</html>
