
header {
  text-align: center;
  padding: 20px;
  position: relative;
  background-color:#256B7D;
  height: 25vh;
}

header p{
  font-size: 5em;
  color : white;
}

body{
  background-color: #F3F3F3;
  margin : 0px;
}

.play{
  width: 100%;
  height: 50vh;
  text-align: center;
	min-height: calc(100vh - 15vh)
}

.div_button_play{
  height: 50vh;
}

.button_play{
  font-size: 3.3em;
  width: 9em;
  height: 4em;
  background-color: #FF5757;
  border : 0;
  padding: 0;
  border-radius: 2em;
}
.button_play:active{
  background-color: #FF9090;
}

footer{
  display: flex;
  flex-direction: row;
  background-color: #5271FF;
  height: 15vh;
}

.div_button1, .div_button2{
  width: 50%;
  text-align: center;
  height: 100%;

}
.button1, .button2, header p{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.button1, .button2{
  font-size:1.4em;
  width: 12em;
  height: 2.5em;
  background-color: rgb(43,194,141);
  border : 0;
  padding: 0;
  border-radius: 0.5em;
}
.button1:active{
  background-color: rgb(111,223,184);
}
.button2:active{
  background-color: rgb(111,223,184);
}
